
.menu
{
  background-color: blueviolet;
  display: block;
  top: 15px;
  left: 45px;
  position: fixed;
  z-index: 90;
  -webkit-user-select: none;
  user-select: none;
}
.menu a {
  position: absolute;
  background-color: black;
  padding: 15px 10px;
  border: 0px solid white;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.menu a:hover{
  /* filter: contrast(200%) saturate(0%); */
  filter: invert(1);
  opacity: 0.8;
}
.menu a.hidden {
  visibility: hidden;
}
.menu a:last-child {
  padding: 13px 15px;
}
.menu a:nth-child(1) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  padding: 15px 15px;
}
.menu a:nth-child(1).show {
  -webkit-transform: rotate(0deg) translate(100px) rotate(0deg);
          transform: rotate(0deg) translate(100px) rotate(0deg);
}
.menu a:nth-child(2) {
  background-color: #2b4170;
}
.menu a:nth-child(2).show {
  -webkit-transform: rotate(30deg) translate(100px) rotate(-30deg);
          transform: rotate(30deg) translate(100px) rotate(-30deg);
}
.menu a:nth-child(3) {
  background-color: #c4302b;
}
.menu a:nth-child(3).show {
  -webkit-transform: rotate(60deg) translate(100px) rotate(-60deg);
          transform: rotate(60deg) translate(100px) rotate(-60deg);
}
.menu a:nth-child(4) {
  background-color: #ff7700;
}
.menu a:nth-child(4).show {
  -webkit-transform: rotate(90deg) translate(100px) rotate(-90deg);
          transform: rotate(90deg) translate(100px) rotate(-90deg);
}