#ExploreGrid{
  text-align: center;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh 25vh;
  justify-content: center;
  
}

#ExploreGrid div{
  display: flex;
  margin: auto;
  padding: 5px;
  background-color: #283f06;
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.6) 3px;
  width: calc(6vw + 10vh);
  height: calc(6vw + 10vh);
  position: relative; 
  opacity: 0.8;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}



#ExploreGrid div:hover{
  filter: invert(1);
}

#ExploreGrid div p{
  margin: auto;
  align-self: center;
  text-align: center;
  font-size: calc(1.2vw + 1.5vh);
}

.ContainerTitle{
  width: 100%;
}
.ContainerHeader{
  display: inline-block;
  /* margin: 0 auto; */
  padding: 3px;
  
}
.Rap{
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
.Trap{
  background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
}
.Regueton{
  background-image: linear-gradient(30deg, #e84393 0%, #000000 74%);
}
.Electronic{
  background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
}
.Sale{
  background-image: linear-gradient(300deg, #ffeaa7 0%, #000000 74%);
}
.Free{
  background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
  opacity: ;
}